.project--listing.bonfire
  .brand
    Bonfire
  .description
    Description (TBD)
  .role
    Role:
  .actions
    = link_to "Details", "projects/bonfire"
    = link_to "Launch Site", "http://www.letsbonfire.com", target: "_new"
