.project--listing.byliner
  .brand
    Byliner
  .description
    Handled all of Byliner's front-end needs from the products initial launch
    through their acquisition by Vook.
  .actions
    = link_to "Details", "projects/byliner"
    = link_to "Launch Site", "http://www.byliner.com", target: "_new"
