.project--listing.canopy
  .brand
    Canopy
  .description
    Description (TBD)
  .actions
    = link_to "Details", "projects/canopy"
    = link_to "Launch Site", "http://canopy.io", target: "_new"
