.project--listing.mirrorcube
  .brand
    Mirror Cube
  .description
    Description (TBD)
  .actions
    = link_to "Details", "projects/mirrorcube"
    = link_to "Launch Site", "http://www.mirrorcube.com", target: "_new"
