.project--listing.nada
  .brand
    Nada
  .description
    Description (TBD)
  .actions
    = link_to "Details", "projects/nada"
    = link_to "Launch Site", "http://www.nadamobile.com", target: "_new"
