.project--listing.stylitics
  .brand
    Stylitics
  .description
    Description (TBD)
  .actions
    = link_to "Details", "projects/stylitics"
    = link_to "Launch Site", "http://www.stylitics.com", target: "_new"
