.project--listing.vested
  .brand
    Vested
  .description
    Description (TBD)
  .actions
    = link_to "Details", "projects/vested"
    = link_to "Launch Site", "http://www.vested.org", target: "_new"
