.project--listing.vivo
  .brand
    Vivo
  .description
    Description (TBD)
  .actions
    = link_to "Details", "projects/vivo"
    = link_to "Launch Site", "http://prod.vivoaquatics.com", target: "_new"
