// ---------------------------------------------------------------------------
// Backgrounds

$bg-bonfire: #6b9a42
$bg-byliner: #fff82e
$bg-canopy: #2f3c45
$bg-mirrorcube: #870047
$bg-nada: #262324
$bg-stylitics: #ffffff
$bg-vested: #6fb3de
$bg-vivo: #003366


// ---------------------------------------------------------------------------
// Text

$txt-white: #fff
