// ---------------------------------------------------------------------------
// Box-Sizing

*
  box-sizing: border-box


// ---------------------------------------------------------------------------
// Padding

=padded
  padding: 40px 20px 40px
  +susy-breakpoint(768px)
    padding: 60px 30px 120px

=padded-sides
  padding-left: 20px
  padding-right: 20px
  +susy-breakpoint(768px)
    padding-left: 30px
    padding-right: 30px
