// ---------------------------------------------------------------------------
// Default

.hero
  height: 300px
  +padded-sides
  background-image: url("/images/hero/road.jpg")
  background-position: center top
  background-size: cover

  .contact
    display: none
    +absolute(30px, 30px, auto, auto)
    text-align: center
    a
      padding: 2px 15px 4px
      background: $bg-blue-dark-translucent
      border-radius: 30px
      color: rgba($txt-white, 0.9)
      font-size: 1.7rem
      text-decoration: none
      +transition(background 150ms, color 150ms)
      &:hover
        color: $txt-white
        background: $bg-blue-dark
  .title
    +align-vertically(68%)
    +tisa
    text-align: center

  h1
    margin-bottom: 5px
    font-size: 3.2rem
    line-height: 1.25em
    a
      color: rgba($txt-white, 0.75)
      font-weight: bold
      text-decoration: none

  h2
    display: none
    color: rgba($txt-white, 0.55)
    font-size: 2.4rem
    font-style: italic


// change position of title
+susy-breakpoint(400px)
  .hero
    .title
      +align-vertically(72%)


// increase hero size
// change size and position of title
// move contact link to fixed position
+susy-breakpoint(600px)
  .hero
    height: 370px
    .title
      +align-vertically(78%)
    h1
      font-size: 3.8rem
    .contact
      display: block


// display h2
+susy-breakpoint(720px)
  .hero
    h2
      display: block


// increase hero size
// change size and position of title
+susy-breakpoint(900px)
  .hero
    height: 450px
    h1
      font-size: 4.6rem


