%meta{charset: "utf-8"}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="New Jersey Paranormal Investigations">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://use.typekit.net/pur1qhd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

%title= current_page.data.title || "New Jersey Paranormal Investigations"
