.copy--body
  %p
    Barry Ruggiero has been investigating the paranormal for over twelve years.
    His area of expertise centers around hauntings and spirits with the application
    of basic physics. Scientific instruments which measure fluctuations in the
    environment, enables NJPI to document these occurrences. Infrared surveillance
    systems are utilized along with high end audio equipment to capture any
    abnormalities for documentation purposes.

  %p
    Barry has been featured on the Woodbridge, NJ television network hosted by
    Mayor John McCormick to discuss the history and paranormal events of the
    township. He was also interviewed by News 12 NJ about the paranormal field
    highlighting historic landmarks known for activity. The Star Ledger newspaper
    did a feature article on his investigation on the Hannah Caldwell House where
    it is believed Mrs. Caldwell's spirit still resides at the site of her murder.

  %p
    %em
      Disclaimer: NJPI will do its due diligence not to attach equipment to any
      surface to mark or damage any surface or structure. All information including
      audio and video, will be kept confidential, unless otherwise expressed by the
      client. At the conclusion of the case, a summation will be given on how to
      proceed ahead if needed.
