.copy--body
  %p
    To request an investigation or for any other inquiries
    = mail_to "njparanormalinvestigations@gmail.com", "please send us an email", subject: "Paranormal Inquiry"
    with your name, contact information, and details of your inquiry.
