%h1 Contact Us

%p
To request an investigation,
= mail_to "njparanormalinvestigations@gmail.com", "please send us an email"
with the subject "Paranormal Investigation Request”. Please include your name,
contact information, and details of the claim you want investigated.
