%h1 Equipment

%h2 Mel-8704R-REM

= tag :img, src: "/images/mel_rem.jpg"

%p
In addition to detecting AC/DC EMF and temperature changes in the environment,
this new feature also uses a mini telescopic antenna to radiate its own
independent magnetic field around the instrument. This EM field can be easily
influenced by materials and objects that conduct electricity, based on source
proximity, strength and EM field distortion. Multi-Colored LED lights can be
activated in any order or combination. This new feature is intended to further
help promote and advance paranormal research.

%h2 Shadow Detector

= tag :img, src: "/images/shadow_detector.jpg"

%p
This utilizes a processor coupled with an LDR and proprietary software with a
self calibrating software algorithm to analyze subtle luminous intensity
variations. The auto calibration routine determines battery drain associated
with the SDD circuit and illumination source, and then optimizes the SDD
performance to achieve up to eight hours of continuous operation. Luminous
intensity changes are then converted into sound that your ears can discern.

%h2 K-II Meter

= tag :img, src: "/images/k2_meter.jpg"

%ul
  %li Easy to read Multi-Segment LED Display
  %li Detects the ELF range (50 to 1,000Hz) and VLF range (1,000 to 20,000Hz)
  %li Five level milliGauss ranges
  %li 50 & 60 Hz operation
  %li Single Axis
  %li Accuracy of ±5% at 50-60Hz
  %li Instantaneous Response To EMF Fluctuations & Spikes

%h2 REM-Pod

= tag :img, src: "/images/rem_pod.jpg"

%ul
  %li Easy to View Bright RED, GREEN, BLUE, Yellow Indication
  %li Audible Tones Correlating To Field Disturbance
  %li Red Acrylic top surface with Back light Allows Easy Visibility in The Dark
  %li REM Sensitivity allows Instantaneous Response To Field Fluctuations & Spikes
  %li Mini Telescopic Antenna provides 360 Degree Coverage
