%h1 Events

%p
Ghost Hunting 101 - discussions on basic physics and how to apply it in the
paranormal field. We show evidence of good old fashioned ghost stories from the
twelve plus years of Barry's experience in the paranormal field. A hands on
investigation is held with the conclusion of a Question and Answer session.
