.welcome
  %h1 CREATURES
  %p.doc
    = link_to "Documentation", "http://middlemanapp.com/"

.projects
  %ul
    - data.projects.each do |project|
      %li
        %strong= project.title
        %br
        %p= project.description
        %p= project.role
        %br
        %br

