.copy--body

  %p
    Feeling uneasy in your house? Hearing unexplained sounds and are unable to find
    any logical explanation? Think it may be paranormal in nature? We can help!

  %p
    New Jersey Paranormal Investigations uses the most advanced technology in the
    field of paranormal research to document the events that have been occurring.
    We either prove the events or we find a logical explanation to solve these
    situations.

  %p
    We do this using the scientific method of a step-by-step approach consisting of:
    %ol
      %li
        Identifying and defining a problem.
      %li
        Accumulating relevant data.
      %li
        Formatting a tentative hypothesis.
      %li
        Objectively interpreting the results.
      %li
        Repeating these steps until an acceptable solution is found.

  %p
    We have over twelve years of experience in the field. New Jersey Paranormal
    Investigations has an outreach beyond our scope which includes demonologists,
    clergy, and parapsychologists who we consult and work with to find the best
    possible outcome for you and your family.
