%h1 Investigations

%p Request an Investigation:
%ol
  %li A phone interview is conducted with the client making the claims.
  %li Brief history of the individual making the claims.
  %li Walk thru of the location and scheduled visit to isolate spots of high activity.
  %li Interview other family members who may have had experiences.
