%h1 Investigations

%p
We investigate both residential and commercial locations.

%p
To request an investigation,
= mail_to "njparanormalinvestigations@gmail.com", "please send us an email"
with the subject "Paranormal Investigation Request”. Please include your name,
contact information, and details of the claim you want investigated.

%p
Once we review your email, we will contact you as soon as possible. The following
will take place before the initial investigation:

%ol
  %li A phone interview is conducted with the client making the claims.
  %li A brief history of the client is discussed.
  %li A scheduled visit and walk thru of the location to isolate spots of high activity.
  %li Interviews with other family members who may have had experiences.
