%h1 Lectures

%p
Symposium

%p
Further explanation of basic physics are applied in paranormal investigations.
Discussions of Einstein’s theory of relativity and how it relates to the
paranormal field.
