.copy--body

  %p
    Further explanation of basic physics are applied in paranormal investigations.
    Discussions of Einstein’s theory of relativity and how it relates to the
    paranormal field.

  %p
    If you are interested in details or scheduling a lecture,
    = mail_to "njparanormalinvestigations@gmail.com", "please send us an email", subject: "Paranormal Lecture"
    for more information.
