%h1 New Members

%p
If you are interested in joining our team,
= mail_to "njparanormalinvestigations@gmail.com", "please send us an email"
with your resume and a brief on why you want to join the paranormal world.
